---
http_interactions:
- request:
    method: get
    uri: http://api.zanox.com/json/2011-03-01/programapplications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ZXWS 802B8BF4AE99EBE00F41:yzPSyXboMqrejbQtkrlaV0HN/Oc=
      Nonce:
      - 2185b381b34e9c88e2caf3e376c3e342
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"page":0,"items":3,"total":3,"programApplicationItems":{"programApplicationItem":[{"@id":"8203734","program":{"@active":"false","@id":"2243","$":"zanox
        Professional Publisher"},"adspace":{"@id":"1455403","$":"ZAnox"},"status":"confirmed","createDate":"2010-07-07T15:26:19.883+02:00","allowTpv":false},{"@id":"10799395","program":{"@active":"true","@id":"10919","$":"TEST
        RND Program 4"},"adspace":{"@id":"1455403","$":"ZAnox"},"status":"confirmed","createDate":"2012-03-12T13:11:23.527+01:00","allowTpv":false,"approvedDate":"2012-03-12T13:17:06.010+01:00"},{"@id":"11895033","program":{"@active":"true","@id":"660","$":"zanox
        AdServer"},"adspace":{"@id":"1654774","$":"namre"},"status":"confirmed","createDate":"2012-11-03T16:47:20.233+01:00","allowTpv":false}]}}'
  recorded_at: Thu, 21 Apr 2016 22:29:37 GMT
recorded_with: VCR 3.0.1
