---
http_interactions:
- request:
    method: get
    uri: http://api.zanox.com/json/2011-03-01/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ZXWS 802B8BF4AE99EBE00F41:auvaSTnmkFM4s/ugWuOmCwrqP9M=
      Nonce:
      - 5c6e5a04f13d4924e8fe1aa3011f8094
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"profileItem":[{"@id":"1398877","adrank":0,"firstName":"Firstname","lastName":"Lastname","email":"zx-ber-tm-qualitytesting@zanox.com","country":"DE","street1":"Mystreet
        122","city":"MyCity","zipcode":12345,"street2":"My corner","mobile":49,"language":"de_DE","title":"HERR_UND_FRAU","loginName":"TEST
        RND user 8","userName":"TEST RND user 8","isAdvertiser":false,"isSublogin":false}]}'
  recorded_at: Thu, 21 Apr 2016 22:29:36 GMT
recorded_with: VCR 3.0.1
